<div>
    <a href="/movies/">Go back</a>
        <div>
            <img src="{{movie.image}}" />
            <div>
                <h2>{{movie.title}}</h2>
                <h3>{{movie.director}}</h3>
                <h4>Stars</h4>
                <ul>
                    <li>{{movie.stars}}</li>
                </ul>
                <p>{{movie.description}}</p>
                <p>{{movie.showtimes}}</p>
            </div>
        </div>
</div>